<h4>Events</h4>
<div class="row">
    <div class="col-md-3">
        <p class="input-group">
            <input type="text" class="form-control" ng-model="vm.selectedDate"
                   min-date="vm.minDate" max-date="vm.maxDate"
                   datepicker-options="vm.dateOptions"
                   datepicker-popup="{{vm.format}}"
                   is-open="vm.status.opened"
                   ng-required="true"
                   close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.open($event)">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-success" ng-click="vm.loadEvents()">
            <i class="fa fa-refresh"></i>
            Load Events
        </button>
    </div>
</div>
<div class="row container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Events</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Event Date</th>
                            <th>Imported</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="event in vm.events">
                            <td>{{event.name}}</td>
                            <td>{{event.day}}/{{event.month}}/{{event.year}}</td>
                            <td ng-show="event.isImported"><i class="fa fa-2x fa-check" style="color: goldenrod"></i></td>
                            <td ng-show="!event.isImported"><i class="fa fa-2x fa-ban" style="color: red;"></i></td>
                            <td>
                                <button type="button" class="btn btn-success" ng-show="!event.isImported" ng-click="vm.importEvent(event)">
                                    <i class="fa fa-upload"></i> Import
                                </button>
                                <button type="button" class="btn btn-info" ng-show="event.isImported" ng-click="vm.viewEvent(event)">
                                    <i class="fa fa-eye"></i> View 
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>    
</div>
