<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Import Events
        </h1>
    </div>
</div>

<div class="row container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-external-link-square fa-fw"></i>Import Events</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-model="vm.selectedDate"
                               min-date="vm.minDate"
                               datepicker-options="vm.dateOptions"
                               datepicker-popup="{{vm.format}}"
                               is-open="vm.status.opened"
                               ng-required="true"
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.open($event)">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-success" ng-click="vm.loadEvents()">
                        <i class="fa fa-refresh"></i>
                        Load Events
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <div ng-show="!vm.eventsLoaded" class="col-md-offset-5 col-md-2"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></div>
                <table class="table table-bordered table-hover table-striped" ng-show="vm.eventsLoaded">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Event Date</th>
                            <th>Imported</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="event in vm.events">
                            <td>{{event.name}}</td>
                            <td>{{event.day}}/{{event.month}}/{{event.year}}</td>
                            <td ng-show="event.isImported"><i class="fa fa-2x fa-check-circle" style="color: goldenrod"></i></td>
                            <td ng-show="!event.isImported"><i class="fa fa-2x fa-times-circle" style="color: red;"></i></td>
                            <td>
                                <button type="button" class="btn btn-success" ng-show="!event.isImported" ng-click="vm.importEvent(event)">
                                    <i class="fa fa-upload fa-fw"></i> Import
                                </button>
                                <a class="btn btn-primary" ng-show="event.isImported" data-ui-sref="events.detail({id : event.id})">
                                    <i class="fa fa-eye fa-fw"></i> View
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
